@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* variable start */
:root {
    --font-family: "Roboto", sans-serf;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --primary-color: #4756df;
    --secondary-color: #ff7235;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
  }
  /* variables end  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family:var(--font-family);
    background: var(--bg-color);
    
}

html{
    scroll-behavior: smooth;
}

/* styling for all link  styling for all link styling for all link styling for all link*/
a{
    text-decoration: none;
    color: var(--primary-color);
}

a:hover{
    color: var(--secondary-color);
}

/* nav styling  nav styling nav styling nav styling nav styling nav styling */
nav{
    position: sticky;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    padding: 1.5rem 1.3rem;
    background: var(--bg-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

nav h1{
    text-transform: uppercase;
    font-size: 2rem;
    color: var(--primary-color);
}

nav ul {
    list-style: none;
}

nav a{
    color: var(--primary-color);
    transition: var(--transition);
}

nav a:hover{
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    transition: 0.5s;
}

nav ul  {
    display: flex;
    gap: 1.8rem;
}

nav ul li{
    font-weight: var(--bold-font);
}

/* hand_burger size hand_burger size hand_burger size hand_burger size hand_burger size */
.menu_burger{
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background: var(--transparent);
    cursor: pointer;
    display: none;
}

/* styling for hero section "about me page" styling for hero section "about me page" */

.hero{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    gap: 2.8rem;
    max-width: 65.75rem;
    
}

.hero_img{
    width: 37.5rem;
    height: 37.5rem;
}

.bio{
    width: 25rem;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.bio h2{
    margin-bottom: var(--bottom-margin);
}

.bio p{
    color: var(--primary-shadow);
    padding: 0.3rem;
}

/* more about me more about me more about me more about me more about me more about me */
.more_about_me{
    background: var(--bg-color);
    padding: 1rem 6rem;
}

.un_bor{
    margin-bottom: var(--bottom-margin);
    text-transform: capitalize;
    text-align: center;
    position: relative;
}

.un_bor::after{
    content: "";
    width: 60px;
    height: 5px;
    border-radius: 4px;
    background: #000;
    position: absolute;
    bottom: -12px;
    left: 50%;
    right: 50%;
    transform: translate(-50%,-50%);
}

.more_about_me p{
    line-height: var(--line-height);
    padding: 0.4rem;
}

/* styling for skills  styling for skills styling for skills styling for skills styling for skills*/
.skills{
    max-width: 65.27rem;
    margin: auto;
    text-align: center;
    height: auto;
}

.skill_header{
    margin-bottom: var(--bottom-margin);
}

.skills_wrapper img{
    padding: 1.5rem;
}

.icon{
    width: 11.85rem;
    height: 11.25rem;
}

.icon_card{
    background: var(--bg-color);
    width: auto;
    border-radius: 11px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
}





