@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* variable start */
:root {
    --font-family: "Roboto", sans-serf;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --primary-color: #4756df;
    --secondary-color: #ff7235;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
  }
  /* variables end  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family:var(--font-family);
    background: var(--bg-color);
    
}

html{
    scroll-behavior: smooth;
}

nav ul {
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--primary-color);
}

a:hover{
    color: var(--secondary-color);
}

nav{
    position: sticky;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    padding: 1.5rem 1.3rem;
    background: var(--bg-color);
    box-shadow: 0, 3px, 5px, #0000001a;
    
}

nav h1{
    text-transform: uppercase;
    font-size: 2rem;
    color: var(--primary-color);
}

nav a{
    color: var(--primary-color);
    transition: var(--transition);
}

nav a:hover{
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

nav ul  {
    display: flex;
    gap: 1.8rem;
}

nav ul li{
    font-weight: var(--bold-font);
}

.menu_burger{
    display: none;
}